.wrapper {
  display: flex;
  align-items: center;
  
  justify-content: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 2%;
  flex-direction: column;
  position: absolute;
  overflow: auto;
}